/* A border color of #D3E7F4 goes well with the Garland theme. */
.edash_container {
  border: 1px solid #DDD;
  margin-bottom: 20px;
  padding: 0px;
  display: inline;
  width: 48%;
  float: left;
}

.edash_left {
  clear: left;
  margin-right: 3px;
}

.edash_right {
  clear: right;
  margin-left: 3px;
}

/**
 * This has been styled to suit the Garland theme, which doesn't have any
 *   styles applied to <caption> by default.
.edash_container h2 {
  background-color: #436FC6;
  color: #FFF;
  text-align: center;
  padding: 0.3em 0.5em;
  font-size: 12px;
  font-family: Verdana,sans-serif;
  font-weight: bolder;
  border-bottom: 2px solid #D3E7F4;
  margin: 0px;
}
*/

.edash_container table {
  margin: 0px;
  width: 100%;
}
